[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
passlib = {extras = ["argon2"], version = "*"}
flask-cors = "*"
flask-login = {editable = true, git = "https://github.com/maxcountryman/flask-login"}
werkzeug = "*"
beautifulsoup4 = "*"
requests = "*"
gunicorn = "*"
argon2-cffi = "*"

[dev-packages]
yapf = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
