[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
passlib = "*"
flask-cors = "*"
flask-login = {editable = true, git = "https://github.com/maxcountryman/flask-login"}
werkzeug = "*"
beautifulsoup4 = "*"
requests = "*"
argon2 = "*"
autopep8 = "*"
gunicorn = "*"
app = {editable = true, path = "."}

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
